<% layout('layouts/boilerplate')%>
<h1>Reset Password</h1>
<form action="/index/resetPassword/<%=user._id%>" method="POST" class="validated-form" novalidate>

    <div class="mb-3">
        <label class="form-label" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">Reset</button><br><br>
</form>

<script src="/javascripts/validateForms.js"></script>